[req]
prompt = no
distinguished_name = dn
x509_extensions = v3_ca

[dn]
C         = US
ST        = Georgia
L         = Atlanta
O         = 2024 Tacilent
OU        = IT
CN        = *.tacilent.internal

[v3_ca]
basicConstraints=critical,CA:TRUE
keyUsage = critical, keyCertSign, cRLSign
subjectKeyIdentifier=hash