[req]
default_bits        = 2048
prompt              = no
default_md          = sha256
distinguished_name  = subject
req_extensions      = v3_req

[subject]
countryName         = US
stateOrProvinceName = Georgia
localityName        = Atlanta
organizationName    = 2024 Tacilent 
OU                  = IT
commonName          = *.tacilent.internal
emailAddress        = fondio@tacilent.ai
subjectAltName      = xx

[v3_req]
basicConstraints       = CA:false
extendedKeyUsage       = serverAuth
subjectAltName         = @alt_names

[alt_names]
DNS.1 = tacilent.internal
DNS.2 = *.tacilent.internal